section
    section
        h1 Positioning

    section
        h2 Positioning
        pre
            code(contenteditable).css.
                .foo {
                    ...
                    position: static;
                }
        p Default value for elements

    section
        h2 Positioning
        pre
            code(contenteditable).css.
                .bar {
                    ...
                    position: relative;
                }

    section
        h2 Positioning
        pre
            code(contenteditable).css.
                .baz {
                    ...
                    position: absolute;
                }

    section
        h2 Positioning
        pre
            code(contenteditable).css.
                .baz {
                    ...
                    position: fixed;
                }

    section
        h2 Positioning
        pre
            code(contenteditable).css.
                .baz {
                    ...
                    position: sticky;
                }
        p Still experimental

    section
        h2 Positioning
        h3 Float
        pre
            code(contenteditable).css.
                .qux {
                    ...
                    float: none | left | right;
                }
        p ! changes the display property to block

    section
        h2 Positioning
        h3 Clearing floats
        pre
            code(contenteditable).css.
                .quux {
                    ...
                    clear: none | left | right | both;
                }
