section
    section
        h1 Animations

    section
        h2 Animations
        ul
            li Stateless
            li Keyframes

    section
        h2 Animations
        h3 Timing
        ul
            li Duration
            li Delay

    section
        h2 Animations
        h3 Timing Function
        ul
            li Defaults (linear, ease, ease-in, ease-out, ease-in-out)
            li Custom (cubic-bezier)

    section
        h2 Animations
        h3 Repeating
        ul
            li Iteration
            li Direction
            li Play State
            li Fill Mode