section
    section
        h1 Transitions

    section
        h2 Transitions
        ul
            li State
            li Property

    section
        h2 Transitions
        h3 Timing
        ul
            li Duration
            li Delay

    section
        h2 Transitions
        h3 Timing Function
        ul
            li Defaults (linear, ease, ease-in, ease-out, ease-in-out)
            li Custom (cubic-bezier)