extends ../../shared/_layout

block variables
    - var relativePathToRoot = '../../';

block title
    title MJR - CSS animations and transitions

block content
    include slides/title
    include slides/content
    include slides/transitions
    include slides/animations
