extends ../../shared/_layout

block variables
    - var relativePathToRoot = '../../';

block title
    title MJR - Scalable CSS

block content
    include slides/title
    include slides/content
    include slides/structure
    include slides/bem
    include slides/preprocessors