extends ../../shared/_layout

block variables
    - var relativePathToRoot = '../../';

block title
    title MJR - CSS Layout

block content
    include slides/title
    include slides/content
    include slides/sizing
    include slides/positioning
    include slides/alignment
