section
    section
        h1 CSSOM

    section
        h2 CSSOM
        h3 Document Object Model
        ul
            li Conversion
            li Tokenizing
            li Lexing
            li DOM Construction

    section
        h2 CSSOM
        h3 HTML Structure
        pre
            code.html.
                &lt;html&gt;
                  &lt;head&gt;
                  &lt;/head&gt;
                  &lt;body&gt;
                    &lt;p&gt;
                      &lt;span&gt;Deep Dive!&lt;/span&gt;
                    &lt;/p&gt;
                    &lt;div&gt;
                      &lt;span&gt;Some Content.&lt;/span&gt;
                    &lt;/div&gt;
                  &lt;/body&gt;
                &lt;/html&gt;

    section
        h2 CSSOM
        h3 DOM Tree
        pre
            code.
                html
                 ├── head
                 └── body
                     └── p
                     │   └── span
                     │       └── Deep Dive!
                     └── div
                         └── span
                             └── Some Content.

    section
        h2 CSSOM
        h3 CSS Object Model
        ul
            li Like DOM
            li Cascading
            li Inheritance
            li Specificity

    section
        h2 CSSOM
        h3 CSS Structure
        pre
            code.css.
                body {
                    background-color: #bada55;
                    font-size: 16px;
                }

                span {
                    color: #fff;
                }

                p {
                    background-color: #fff;
                }

                p span {
                    color: #bada55;
                }
    section
        h2 CSSOM
        h3 DOM Tree
        pre
            code.
                body
                 ├── background-color: #bada55;
                 │   font-size: 16px;
                 │
                 └── span
                 │   └── background-color: #bada55;
                 │       font-size: 16px;
                 │       color: #fff;
                 │
                 └── p
                     └── background-color: #fff;
                     │   font-size: 16px;
                     │
                     └── span
                         └── background-color: #fff;
                             font-size: 16px;
                             color: #bada55;

