section
    section
        h1 Grid Systems

    section
        h2 Grid Systems
        h3 Table grid

        p + Vertical alignment
        p + Equal height
        br
        p - Hard to make responsive
        p - Relative margin between columns

    section
        h2 Grid Systems
        h3 Floating Grid

        p + Responsiveness is easier
        br
        p - No equal height
        p - No vertical alignment
        p - Absolute margin between columns

    section
        h2 Grid Systems
        h3 Flexbox Grid

        p + Equal height
        p + Vertical alignment
        p + Repsonsiveness
        br
        p - Browser support

    section
        h2 Grid System
        h3 Flexbox

        a(href="http://codepen.io/WartClaes/pen/KdBaXq?editors=010", target="_blank")
            | Codepen