section
    section
        h1 Responsive grid

    section
        h2 Responsive grid
        h3 Flexbox

        a(href="https://github.com/mjrio/mjr-css/blob/master/docs/Chapter%204:%20Responsive%20Grid/4.3%20Responsive%20Grid.md", target="_blank")
            | Github
        br
        br
        a(href="http://codepen.io/BjornRombaut/pen/BoJLqK?editors=110", target="_blank")
            | Codepen

            