extends ../../shared/_layout

block variables
    - var relativePathToRoot = '../../';

block title
    title CSS Basics

block content
    include slides/title
    include slides/content
    include slides/introduction
    include slides/colors
    include slides/units
    include slides/typography
    include slides/selectors
