doctype
html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round|Pacifico")
        link(rel="stylesheet" href="../styles/app.css")
    body.app
        h1.logo mjr

        div.topics
            div.topics__row
                a.topic(href="./css-basics") Basics
                a.topic(href="./css-deep-dive") Deep Dive
                a.topic(href="./scalable-css") Scalable CSS
            div.topics__row
                a.topic(href="./css-layout") Layout
                a.topic(href="./css-responsive-grid") Responsive Grid
                a.topic(href="./css-animations-and-transitions") Animations and Transitions