section
    section
        h1 bem
    section
        h2 BEM
        h3 What is BEM
        ul
            li Block Element Modifier
            li Readable clear classnames
    section
        h2 BEM
        h3 Example: button
        pre
            code.html.
                &lt;button&gt;
                    &ltspan&gt;Icon&lt;/span&gt;
                    &ltspan&gt;Text&lt;/span&gt;
                &lt;/button&gt;

    section
        h2 BEM
        h3 Example: button
        h4 Regular CSS
        br
        pre
            code.css.
                .btn {
                    ...
                }
                .btn .icon {
                    ...
                }
                .btn .text {
                    ...
                }
                .btn-primary {
                    ...
                }
                .btn-primary .icon {
                    ...
                }
                .btn-primary .text {
                    ...
                }

    section
        h2 BEM
        h3 Example: button
        h4 BEM CSS
        br
        pre
            code.css.
                .btn {
                    ...
                }
                .btn__icon {
                    ...
                }
                .btn__text {
                    ...
                }
                .btn--primary {
                    ...
                }
                .btn__icon--primary {
                    ...
                }
                .btn__text--primary {
                    ...
                }

    section
        h2 BEM
        h3 Other Possibilities
        ul
            li OOCSS
            li SMACSS
            li
                a(href="https://www.youtube.com/watch?v=IKFq2cSbQ4Q" target="_blank") video