section
    section
        h1 Project
        br
        h1 Structure

    section
        h2 Project Structure
        h3 style.css
        pre
            code.css.
                body {
                  font-family: Arial;
                }

                h1 {
                  font-size: 30px;
                }

                h2 {
                  font-size: 24px;
                }

    section
        h2 Project Structure
        h3 style.css
        pre
            code.css.
                body {
                  font-family: Arial;
                }

                h1 {
                  font-size: 30px;
                }

                h2 {
                  font-size: 24px;
                }

                .btn {
                  background-color: hotpink;
                  border-radius: 3px;
                  color: white;
                  padding: 10px;
                }

                .navbar {
                  position: fixed;
                  top: 0;
                  left: 0;
                  right: 0;
                  height: 50px;
                  background-color: #bada55;
                }

    section
        h2 Project Structure
        h3 style.css
        pre
            code.css.
                body {
                  font-family: Arial;
                }

                h1 {
                  font-size: 30px;
                }

                h2 {
                  font-size: 24px;
                }

                .btn {
                  background-color: hotpink;
                  border-radius: 3px;
                  color: white;
                  padding: 10px;
                }

                .navbar {
                  position: fixed;
                  top: 0;
                  left: 0;
                  right: 0;
                  height: 50px;
                  background-color: #bada55;
                }

                .btn-primary {
                  background-color: rebeccapurple;
                }

    section
        h2 Project Structure
        h3 style.css
        ul
            li unreadable
            li unmaintainable
            li in other words a mess

    section
        h2 Project Structure
        h3 Feature Based
        pre
            code.
                - src
                    - components

                        - button
                            - button.html
                            - button.css

                        - navbar
                            - navbar.html
                            - navbar.css

                    - app

                        - featureA
                            - featureA.html
                            - featureA.css
                            - featureA.js

                        - common
                            - common.css

    section
        h2 Project Structure
        h3 Feature Based: common.css
        pre
            code.css.
                body {
                  font-family: Arial;
                }

                h1 {
                  font-size: 30px;
                }

                h2 {
                  font-size: 24px;
                }

    section
        h2 Project Structure
        h3 Feature Based: button.css
        pre
            code.css.
                .btn {
                  background-color: hotpink;
                  border-radius: 3px;
                  color: white;
                  padding: 10px;
                }

                .btn-primary {
                  background-color: rebeccapurple;
                }

    section
        h2 Project Structure
        h3 Feature Based: navbar.css
        pre
            code.css.
                .navbar {
                  position: fixed;
                  top: 0;
                  left: 0;
                  right: 0;
                  height: 50px;
                  background-color: #bada55;
                }

