extends ../../shared/_layout

block variables
    - var relativePathToRoot = '../../';

block title
    title MJR - CSS Responsive Grid

block content
    include slides/title
    include slides/content
    include slides/media-queries
    include slides/grid-systems
    include slides/responsive-grid
