doctype
html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round|Pacifico")
        link(rel="stylesheet" href="./styles/app.css")
    body.app
        h1.logo mjr

        div.topics
            a.topic(href="./css") CSS