section
    section
        h1 Colors
    section
        h2 Colors
        h3 How to specify colors
        ul
            li Keyword colors
            li Hexadecimal
            li RGB & RGBa
            li HSL & HSLa
    section
        h2 Colors
        h3 Where to use colors
        ul
            li color
            li background-color
            li border-color
            li box-shadow
            li text-shadow
            li text-decoration-color
            li text-stroke-color
            li + in shorthand notations of the properties above
