section
    section
        h1 introduction
    section
        h2 Introduction
        h3 Anatomy
        pre
            code.css.
                p {
                    background-color: #bada55;
                }

    section
        h2 Introduction
        h3 The C stands for cascading
        pre
            code.css.
                .example {
                    color: #f00;
                }

                .cascade {
                    color: #00f;
                }
        pre
            code.html.
                &lt;p class="example"&gt;
                    My Color is #f00
                &lt;/p&gt;

                &lt;p class="example cascade"&gt;
                    My color is #00f
                &lt;/p&gt;
    section
        h2 Introduction
        h3 Inheritance
        pre
            code.css.
                .example {
                    color: #f00;
                }

                .inherit {
                    text-decoration: underline;
                }
        pre
            code.html.
                &lt;p class="example"&gt;
                    &lt;p class="inherit"&gt;
                        My color is #f00 and i'm underlined
                    &lt;/p&gt;
                &lt;/p&gt;
