section
    section
        h1 introduction
    section
        h2 Introduction
        h3 Anatomy
        pre
            code.css.
                p {
                    background-color: #bada55;
                }

    section
        h2 Introduction
        h3 The C stands for cascading
        pre
            code(contenteditable="true").css.
                .foo {
                    color: #f00;
                }

                .bar {
                    color: #00f;
                }

        pre
            code.html.
                &lt;p class="foo"&gt;
                    My Color is #f00
                &lt;/p&gt;

                &lt;p class="foo bar"&gt;
                    My color is #00f
                &lt;/p&gt;

    section
        h2 Introduction
        h3 Inheritance
        pre
            code.css.
                .foo {
                    color: #f00;
                }

                .bar {
                    text-decoration: underline;
                }
        pre
            code.html.
                &lt;p class="foo"&gt;
                    &lt;p class="bar"&gt;
                        My color is #f00 and I'm underlined
                    &lt;/p&gt;
                &lt;/p&gt;
