section
    section(data-background-color="hotpink")
        h1 Selectors

    section
        h2 Selectors
        h3 Matching Selectors
        pre
            code.css.
                #foo .bar div span {
                    color: #bada55;
                }
    section
        h2 Selectors
        h3 Selector Specificity
        ol
            li !important
            li inline styling
            li ID selector
            li Class / Pseudo Class / Attribute selector
            li Element / Pseudo Element selector

    section
        h2 Selectors
        h3 Selector Specificity
        .column
            pre
                code.css.
                    .foo {
                        color: #f00;
                    }
            br
            table
                tr
                    th 1
                    th 2
                    th 3
                    th 4
                    th 5
                tr
                    td 0
                    td 0
                    td 0
                    td 1
                    td 0
    section
        h2 Selectors
        h3 Selector Specificity
        .column
            pre
                code.css.
                    #foo {
                        color: #f00;
                    }
            br
            table
                tr
                    th 1
                    th 2
                    th 3
                    th 4
                    th 5
                tr
                    td 0
                    td 0
                    td 1
                    td 0
                    td 0
    section
        h2 Selectors
        h3 Selector Specificity
        .column
            pre
                code.css.
                    #foo.bar {
                        color: #f00;
                    }
            br
            table
                tr
                    th 1
                    th 2
                    th 3
                    th 4
                    th 5
                tr
                    td 0
                    td 0
                    td 1
                    td 1
                    td 0

    section
        h2 Selectors
        h3 Selector Types: Element Selector
        pre
            code.html.
                &lt;p&gt;Example&lt;/p&gt;
            br
            code.css.
                p {
                    background-color: #bada55;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Element Selectors
        ul
            li use double semicolons ::
            li not a DOM element

    section
        h2 Selectors
        h3 Selector Types: Pseudo Element Selectors
        h4 ::after
        br
        pre
            code.html.
                &lt;p&gt;Hello, &lt;/p&gt;
            br
            code.css.
                p::after {
                    content: 'world!';
                    font-weight: bold;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Element Selectors
        h4 ::before
        br
        pre
            code.html.
                &lt;p&gt;world&lt;/p&gt;
            br
            code.css.
                p::before {
                    content: 'Hello, ';
                    font-weight: bold;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Element Selectors
        h4 ::first-letter
        br
        pre
            code.html.
                &lt;p&gt;Hello, world&lt;/p&gt;
            br
            code.css.
                p::first-letter {
                    font-size: 20px;
                    font-weight: bold;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Element Selectors
        h4 ::first-line
        br
        pre
            code.html.
                &lt;p&gt;Hello,&lt;br/&gt; world&lt;/p&gt;
            br
            code.css.
                p::first-line {
                    font-size: 20px;
                    font-weight: bold;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Element Selectors
        h4 ::selection
        br
        pre
            code.html.
                &lt;p&gt;Hello, world&lt;/p&gt;
            br
            code.css.
                p::selection {
                    color: #fff;
                    background-color: #bada55;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Element Selectors
        h4 ::backdrop
        br
        ul
            li Experimental
            li
                a(href="http://demo.agektmr.com/dialog/" target="_blank") Example

    section
        h2 Selectors
        h3 Selector Types: ID Selectors
        pre
            code.html.
                &lt;p id="foo"&gt;Example&lt/p&gt;
            br
            code.css.
                #foo {
                    background-color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Class Selectors
        pre
            code.html.
                &lt;p class="foo"&gt;Example&lt/p&gt;
            br
            code.css.
                .foo {
                    background-color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Class Selectors
        ul
            li use single semicolons :
            li specify a state

    section
        h2 Selectors
        h3 Selector Types: Pseudo Class Selectors
        h4 Forms
        br
        pre
            code.css.
                input:checked {
                    background-color: hotpink;
                }

                input:enabled {
                    background-color: hotpink;
                }

                input:disabled {
                    background-color: grey;
                }p

                input:focus {
                    background-color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Class Selectors
        h4 Forms
        br
        pre
            code.css.
                input:in-range {
                    background-color: green;
                }

                input:out-of-range {
                    background-color: red;
                }

                input:valid {
                    background-color: green;
                }

                input:invalid {
                    background-color: red;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Class Selectors
        h4 Forms
        br
        pre
            code.css.
                input:optional {
                    background-color: purple;
                }

                input:required {
                    background-color: blue;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Class Selectors
        h4 Position - :first-child
        br
        pre
            code.html.
                &lt;div&gt;
                    &lt;span&gt;Selected&lt;/span&gt;
                    &lt;span&gt;Not Selected&lt;/span&gt;
                    &lt;span&gt;Not Selected&lt;/span&gt;
                    &lt;span&gt;Not Selected&lt;/span&gt;
                &lt;/div&gt;
                &lt;div&gt;
                    &lt;span&gt;Selected&lt;/span&gt;
                    &lt;span&gt;Not Selected&lt;/span&gt;
                &lt;/div&gt;
            br
            code.css.
                span:first-child {
                    background-color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Class Selectors
        h4 Position - :first-of-type
        br
        pre
            code.html.
                &lt;div&gt;
                    &lt;div&gt;Not Selected&lt;/span&gt;
                    &lt;span&gt;Selected&lt;/span&gt;
                    &lt;span&gt;Not Selected&lt;/span&gt;
                    &lt;span&gt;Not Selected&lt;/span&gt;
                &lt;/div&gt;
                &lt;div&gt;
                    &lt;span&gt;Selected&lt;/span&gt;
                    &lt;span&gt;Not Selected&lt;/span&gt;
                &lt;/div&gt;
            br
            code.css.
                span:first-of-type {
                    background-color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Class Selectors
        h4 Position - :last-child
        br
        pre
            code.html.
                &lt;div&gt;
                    &lt;span&gt;Not Selected&lt;/span&gt;
                    &lt;span&gt;Not Selected&lt;/span&gt;
                    &lt;span&gt;Not Selected&lt;/span&gt;
                    &lt;span&gt;Selected&lt;/span&gt;
                &lt;/div&gt;
                &lt;div&gt;
                    &lt;span&gt;Not Selected&lt;/span&gt;
                    &lt;span&gt;Selected&lt;/span&gt;
                &lt;/div&gt;
            br
            code.css.
                span:last-child {
                    background-color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Class Selectors
        h4 Position - :last-of-type
        br
        pre
            code.html.
                &lt;div&gt;
                    &lt;span&gt;Not Selected&lt;/span&gt;
                    &lt;span&gt;Not Selected&lt;/span&gt;
                    &lt;span&gt;Selected&lt;/span&gt;
                    &lt;div&gt;Not Selected&lt;/span&gt;
                &lt;/div&gt;
                &lt;div&gt;
                    &lt;span&gt;Not Selected&lt;/span&gt;
                    &lt;span&gt;Selected&lt;/span&gt;
                &lt;/div&gt;
            br
            code.css.
                span:last-of-type {
                    background-color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Class Selectors
        h4 Position - :nth-child(n)
        br
        pre
            code.html.
                &lt;div&gt;
                    &lt;p&gt;Not Selected&lt;/p&gt;
                    &lt;p&gt;Selected&lt;/p&gt;
                    &lt;p&gt;Not Selected&lt;/p&gt;
                    &lt;p&gt;Selected&lt;/p&gt;
                &lt;/div&gt;
            br
            code.css.
                p:nth-child(2n) {
                    color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Class Selectors
        h4 Position - :nth-last-child(n)
        br
        pre
            code.html.
                &lt;div&gt;
                    &lt;p&gt;Selected&lt;/p&gt;
                    &lt;p&gt;Not Selected&lt;/p&gt;
                    &lt;p&gt;Selected&lt;/p&gt;
                    &lt;p&gt;Not Selected&lt;/p&gt;
                &lt;/div&gt;
            br
            code.css.
                p:nth-last-child(2n) {
                    color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Class Selectors
        h4 Position - :nth-of-type(n)
        br
        pre
            code.html.
                &lt;div&gt;
                    &lt;p&gt;Not Selected&lt;/p&gt;
                    &lt;div&gt;Not Selected&lt;/div&gt;
                    &lt;p&gt;Selected&lt;/p&gt;
                    &lt;p&gt;Not Selected&lt;/p&gt;
                    &lt;p&gt;Not Selected&lt;/p&gt;
                &lt;/div&gt;
            br
            code.css.
                p:nth-of-type(2) {
                    color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Class Selectors
        h4 Position - :nth-of-type(n)
        br
        pre
            code.html.
                &lt;div&gt;
                    &lt;p&gt;Not Selected&lt;/p&gt;
                    &lt;p&gt;Not Selected&lt;/p&gt;
                    &lt;p&gt;Selected&lt;/p&gt;
                    &lt;div&gt;Not Selected&lt;/div&gt;
                    &lt;p&gt;Not Selected&lt;/p&gt;
                &lt;/div&gt;
            br
            code.css.
                p:nth-last-of-type(2) {
                    color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Class Selectors
        h4 Position - :only-child
        br
        pre
            code.html.
                &lt;div&gt;
                    &lt;p&gt;Selected&lt;p&gt;
                &lt;/div&gt;
                &lt;div&gt;
                    &lt;p&gt;Not Selected&lt;/p&gt;
                    &lt;div&gt;Not Selected&lt;/div&gt;
                &lt;/div&gt;

            br
            code.css.
                p:only-child {
                    color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Class Selectors
        h4 Position - :only-of-type
        br
        pre
            code.html.
                &lt;div&gt;
                    &lt;p&gt;Selected&lt;/p&gt;
                &lt;/div&gt;
                &lt;div&gt;
                    &lt;p&gt;Selected&lt;/p&gt;
                    &lt;div&gt;Not Selected&lt;/div&gt;
                &lt;/div&gt;
                &lt;div&gt;
                    &lt;p&gt;Not Selected&lt;/p&gt;
                    &lt;p&gt;Not Selected&lt;/p&gt;
                    &lt;div&gt;Not Selected&lt;/div&gt;
                &lt;/div&gt;

            br
            code.css.
                p:only-of-type {
                    color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Class Selectors
        h4 Click State
        br
        pre
            code.css.
                .button {
                    background-color: hotpink;
                }

                .button:hover {
                    background-color: purple;
                }

                .button:active {
                    background-color: cyan;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Class Selectors
        h4 Other - :empty
        br
        pre
            code.html.
                &lt;div&gt;&lt;/div&gt;
                &lt;div&gt;I'm not selected&lt;/div&gt;
                &lt;div&gt;
                    &lt;p&gt;
                        I'm also not selected
                    &lt;/p&gt;
                &lt;/div&gt;
            br
            code.css.
                div:empty {
                    background-color: hotpink;
                    height: 30px;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Class Selectors
        h4 Other - :link & :visited
        br
        pre
            code.html.
                &lt;a href="http://www.euri.com"&gt;A Website&lt;/a&gt;
            br
            code.css.
                a:link {
                    background-color: rebeccapurple;
                }

                a:visited {
                    background-color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Class Selectors
        h4 Other - :not
        br
        pre
            code.html.
                &lt;a class="example"&gt;Selected&lt;/a&gt;
                &lt;p class="example"&gt;Not Selected&lt;/p&gt;
            br
            code.css.
                .example:not(p) {
                    color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Class Selectors
        h4 Other - :read-only & read-write
        br
        pre
            code.html.
                &lt;input readonly/&gt;
                &lt;input/&gt;
            br
            code.css.
                input:read-only {
                    background-color: hotpink;
                }

                input:read-write {
                    background-color: rebeccapurple;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Class Selectors
        h4 Other - :root
        br
        pre
            code.html.
                &lt;html&gt;
                    &lt;body&gt;
                        &lt;p&gt;Hello world&lt;/p&gt;
                    &lt;/body&gt;
                &lt;/html&gt;
            br
            code.css.
                :root {
                    background-color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Pseudo Class Selectors
        h4 Other - :target
        br
        pre
            code.html.
                &lt;a href="#article-1"&gt;Click Me&lt;/a&gt;
                &lt;div id="article-1"&gt;Not Selected&lt;/div&gt;
                &lt;div id="article-2"&gt;Selected&lt;/div&gt;
            br
            code.css.
                div:target {
                    background-color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Attribute Selectors
        ul
            li Brackets []
            li Bad for performance

    section
        h2 Selectors
        h3 Selector Types: Attribute Selectors
        h4 Equals
        br
        pre
            code.html.
                &lt;div data-attr="foo"&gt;&lt;/div&gt;
            br
            code.css.
                [data-attr="foo"] {
                    background-color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Attribute Selectors
        h4 Contains
        br
        pre
            code.html.
                &lt;div data-attr="foo"&gt;&lt;/div&gt;
            br
            code.css.
                [data-attr*="oo"] {
                    background-color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Attribute Selectors
        h4 Starts with
        br
        pre
            code.html.
                &lt;div data-attr="foo"&gt;&lt;/div&gt;
            br
            code.css.
                [data-attr^="fo"] {
                    background-color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Attribute Selectors
        h4 Ends with
        br
        pre
            code.html.
                &lt;div data-attr="foo"&gt;&lt;/div&gt;
            br
            code.css.
                [data-attr$="oo"] {
                    background-color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Attribute Selectors
        h4 Space separated list
        br
        pre
            code.html.
                &lt;div data-attr="here is an example of a selector"&gt;&lt;/div&gt;
            br
            code.css.
                [data-attr~="example"] {
                    background-color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Types: Attribute Selectors
        h4 Dash separated list
        br
        pre
            code.html.
                &lt;div data-attr="the-example-selector"&gt;&lt;/div&gt;
            br
            code.css.
                [data-attr|="example"] {
                    background-color: hotpink;
                }

    section
        h2 Selectors
        h3 Selector Combinators: children
        br
        h4 Descendant Selector
        br
        pre
            code.css .foo .bar
        br
        br
        br
        h4 Child Selector
        br
        pre
            code.css .foo > .bar

    section
        h2 Selectors
        h3 Selector Combinators: siblings
        br
        h4 Adjacent Sibling Selector
        br
        pre
            code.css .foo + .bar
        br
        br
        br
        h4 General Sibling Selector
        br
        pre
            code.css .foo ~ .bar
