section
    section
        h1 Typography
    section
        h2 Typography
        h3 Basics
        ul
            li font-family
            li font-size
            li font-style
            li font-weight
            li font-variant
            li letter-spacing
            li line-height
            li text-decoration
            li text-transform
    section
        h2 Typography
        h3 Include your own fonts
        pre
            code.css.
                @font-face {
                    src: url('fonts/mycustomfont.woff.');
                    font-family: 'MyCustomFont';
                    font-weight: normal;
                    font-style: normal;
                }

                .example {
                    font-family: 'MyCustomFont';
                }
