section
    section
        h1 Length Units

    section
        h2 Length Units
        h3 Absolute Length Units
        ul
            li Most common: pixels (px)
            li
                | Other possibilities:
                br
                | mm/cm/in/pt/pc

    section
        h2 Length Units
        h3 Relative Length Units
        ul
            li em: relative to the font size of the element
            li rem: relative to the font size of the root element (<html>)
            li ex: relative to the x-height of the current font
            li ch: relative to the width of zero
            li vh: relative to the viewport height
            li vw: relative to the viewport width

    section
        h2 Length Units
        h3 Percentages
        ul
            li relative to the same property of the parent element
            li technically not a length value
